<?xml version="1.0"?>
<launch>
    <arg name="simulated_robot" default="true" />
    <arg name="model_xacro" default="$(find scout_nav_platform)/urdf/scout_v2_nav.xacro" />
    <arg name="odom_topic_name" default="odom" />
    <include file="$(find scout_nav_platform)/launch/scout_sim_indoor.launch">
        <arg name="simulated_robot" default="true" />
        <arg name="model_xacro" default="$(find scout_nav_platform)/urdf/scout_v2_nav.xacro" />
        <arg name="odom_topic_name" default="odom" />
    </include>
    <include file="$(find scout_ros_nav)/launch/scout_navigation.launch" />

</launch>