<launch>
    <arg name = "model_xacro" default = "$(find scout_nav_platform)/urdf/scout_v2_sim_nav.xacro" />
    <arg name="model" />

    <param name="robot_description" command="$(find xacro)/xacro $(arg model_xacro)"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>