<launch>
    <node name="scout_odom" pkg="scout_base" type="scout_base_node" output="screen">
        <param name="port_name" type="string" value="can1" />

        <param name="odom_frame" type="string" value="odom" />
        <param name="base_frame" type="string" value="base_footprint" />

        <param name="control_rate" value="10" />
    </node>
</launch>
