<launch>
    <node name="scout_base_node" pkg="scout_base" type="scout_base_node" output="screen">
        <param name="port_name" type="string" value="can0" />

        <param name="odom_frame" type="string" value="odom" />
        <param name="base_frame" type="string" value="base_link" />

        <param name="simulated_robot" type="bool" value="false" />
    </node>

    <node name="sensor_hub_raw_imu" pkg="scout_base" type="imu_broadcast_node" output="screen"/>
    <include file="$(find scout_base)/launch/sensor_rslidar16.launch" />

    <!--
    <include file="$(find scout_base)/launch/sensor_d435i.launch" />
    -->

    <param name="robot_description" textfile="$(find scout_base)/urdf/agilex_scout.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
