<launch>
    <param name="/use_sim_time" value="true"/>
    <arg name="map_file" default="$(find scout_navigation)/maps/play.yaml"/>

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen">
        <param name="frame_id" value="map"/>
    </node>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find scout_navigation)/param/amcl_params.yaml" command="load" />
        <param name="initial_pose_x" value="0"/>
        <param name="initial_pose_y" value="0"/>
        <param name="initial_pose_a" value="0"/>
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find scout_navigation)/param/diff_drive/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find scout_navigation)/param/diff_drive/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find scout_navigation)/param/diff_drive/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find scout_navigation)/param/diff_drive/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find scout_navigation)/param/diff_drive/teb_local_planner_params.yaml" command="load" />

        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="planner_frequency" value="1.0" />
        <param name="planner_patience" value="5.0" />

        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="5.0" />
        <param name="controller_patience" value="15.0" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find scout_navigation)/rviz/rviz_navigation.rviz"/>
</launch>
