<?xml version="1.0"?>
<launch>
    <arg name="simulated_robot" default="true" />
    <arg name="model_xacro" default="$(find scout_nav_platform)/urdf/scout_v2_sim_nav.xacro" />
    <arg name="odom_topic_name" default="odom" />
    
    <include file="$(find scout_nav_bringup)/launch/scout_v2_sim_nav_platform_full.launch">
        <arg name="simulated_robot" default="$(arg simulated_robot)" />
        <arg name="model_xacro" default="$(arg model_xacro)" />
        <arg name="odom_topic_name" default="$(arg odom_topic_name)" />
    </include>

    <include file="$(find scout_ros_nav)/launch/scout_v2_mapping.launch">
        <arg name="use_sim_time" value="true"/>
    </include> />

</launch>