<?xml version="1.0"?>
<launch>
    <arg name="use_sim_time" value="true"/>
    <arg name="odom_topic_name" default="odom" />
  
    <!-- start Webots and Webots/ROS Interface-->
    <include file="$(find scout_nav_bringup)/launch/scout_v2_nav_sim.launch">
        <arg name="odom_topic_name" default="$(arg odom_topic_name)" />
    </include>

    <include file="$(find scout_ros_nav)/launch/scout_v2_navigation.launch">
        <arg name="map_file" default="$(find scout_ros_nav)/maps/webots_indoor.yaml"/>
        <arg name="use_sim_time" value="true"/>
    </include> />
</launch>