<?xml version="1.0"?>
<launch>

  <param name="/use_sim_time" value="true" />

  <arg name="simulated_robot" default="true" />
  <arg name="odom_topic_name" default="odom" />

  <!-- start Webots and Webots/ROS Interface-->
  <include file="$(find scout_nav_platform)/launch/scout_v2_nav_sim_platform.launch">
  </include>

  <!-- Condensing 3D point cloud into 2D scan -->
  <node name="pointcloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node">
    <remap from="cloud_in" to="rslidar_points" />
    <rosparam>
        transform_tolerance: 0.01
        min_height: -0.6
        max_height: -0.1
        
        angle_min: -3.14
        angle_max: 3.14
        angle_increment: 0.00314
        scan_time: 0.1
        range_min: 0.2
        range_max: 60.0
        use_inf: true
        
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 1
      </rosparam>
  </node>

    <!-- start teleop -->
    <!-- <include file="$(find scout_bringup)/launch/scout_teleop_keyboard.launch">
    </include> -->
</launch>