<?xml version="1.0"?>
<launch>
    <arg name="use_sim_time" value="true"/>
    <arg name="odom_topic_name" default="odom" />
    
    <include file="$(find scout_nav_bringup)/launch/scout_v2_nav_sim.launch">
        <arg name="odom_topic_name" default="$(arg odom_topic_name)" />
    </include>

    <include file="$(find scout_ros_nav)/launch/scout_v2_mapping.launch">
        <arg name="use_sim_time" value="true"/>
    </include> />

</launch>