<?xml version="1.0"?>
<launch>
    <arg name="simulated_robot" default="true" />
    <arg name="model_xacro" default="$(find scout_nav_platform)/urdf/scout_v2_sim_nav.xacro" />
    <arg name="odom_topic_name" default="odom" />
    <arg name="map_file" default="$(find scout_ros_nav)/maps/webots_indoor.yaml"/>

    <include file="$(find scout_nav_platform)/launch/simulation/scout_sim_indoor.launch">
        <arg name="simulated_robot" default="true" />
        <arg name="model_xacro" default="$(arg model_xacro)" />
        <arg name="odom_topic_name" default="odom" />
    </include>
    <include file="$(find scout_ros_nav)/launch/scout_navigation.launch">
        <arg name="map_file" default="$(find scout_ros_nav)/maps/webots_indoor.yaml"/>
        <arg name="use_sim_time" value="true"/>
    </include> />
</launch>